<h1>Test</h1>
<div class ="header">
</div>


<div class="row row-cols-1 row-cols-md-2">
  <% @cocktails.each do |item| %>
  <div class="col mb-4">
    <div class="card">
      <img src="mojito.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= item.name %></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <% end %>
</div>