// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1517328894681-0f5dfabd463c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3800&q=80");
    height: 300px;                                                                                             /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
  }

  .box-image {
    width: 200px;
    height: auto;
  }

  .btn-edit {
    font-size: small;
    padding: 2px 4px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    border: white;
    border-style: solid;
    border-width: 1px;

      &:hover {
        color: rgba(128, 128, 128, 0.4);
        border: rgba(128, 128, 128, 0.4);
        border-style: solid;
        border-width: 1px;
        text-decoration: none;
      }
  }

  .top-corner {
    position: absolute;
    top: 2px;
    right:2px;
  }

